<h1>My name is <%= ["Banana", "Fergus", "Ron Burgundy", "Forrest Gump", "Bernie Sanders", "Donald Trump", "Dolan Duck", "DJ Khaled (Another one)"].sample %>!</h1>

<img src=<%= ['https://s-media-cache-ak0.pinimg.com/236x/09/0e/1a/090e1a865716e97ebb1f6c465c3f5aa6.jpg', 'http://40.media.tumblr.com/c99e86b185193e47ae9f63b8509db218/tumblr_nxpxn5RSXU1u0wbuto1_400.jpg', 'http://buzzsharer.com/wp-content/uploads/2015/07/Scottish-Fold-face-eyes.jpg', 'http://pawesomecats.com/wp-content/uploads/2014/02/Scottish-Fold-Cat.jpg', 'https://s-media-cache-ak0.pinimg.com/236x/1d/28/40/1d284065506dd39eabfa605821c3d4a8.jpg'].sample %> style='border:3px dashed red'>
